body{
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
}

#header{
    margin: 0;
    padding: 0px;
    height: 52px;
    background-color: black;

}

#left-column{
    margin-left: -100%;
    width: 230px;
    float: left;
    background-color: cornflowerblue;

}

#right-column{
    width: 230px;
    margin-left: -230px;
    float: left;
    background-color: crimson;

    
}

#content-wrapper{
    width: 100%;
    height: auto;
    float: left;
}

#middle-content{
    margin: 0px 230px 0px 230px;
    width: auto;
    float: left;
}

.inner-text{
    margin: 5px;
    font-family: sans-serif;
    text-align: center;
}
#footer{
    clear: both;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    background-color: black;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a{  
    float: left;
    display: inline;
    padding: 14px 16px;
    margin: 0px;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    background-color:#2f2f2f;
    border-right:1px solid white;
}
li{
    display: inline;
}

#menu{
    display: none;
}

a:hover{
    background-color: #686868;
    transition: 0.6s;
}

#last a{
    padding: 0px;
    float: right;
    background-color: black;
    padding-right: 5px;
    padding-top: 3px;
    border: 0px;
}

@media screen and (max-width: 820px){
    #right-column{
        clear: left;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    #middle-content{
        margin: 0px 0px 0px 230px  ;
    }
}
@media screen and (max-width: 480px){
    #left-column{
        clear: both;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    #middle-content{
        width: 100%;
        height: auto;
        margin: 0px;


    }
    #home,#about-us,#contact-us,#services{
        display: none;
    }
    
    #menu{
        display: inline;
        padding: 0px;
        border: 0px;
    }
    a:first-child{
        padding: 0px ;
        border: 0px;
        background-color: black;
    }
    
    #menu-image{
        padding-left: 5px;
        padding-top: 3px;
    }
}
